# PostgreSQL is published locally for inspection; containers use the internal hostname `postgres`.
POSTGRES_PORT=5432
CRAWLER_SEED_URL=https://en.wikipedia.org/wiki/Elasticsearch
CRAWLER_MAX_DEPTH=2
CRAWLER_MAX_PAGES=100
CRAWLER_REQUEST_TIMEOUT=15s

# Elasticsearch is published locally for inspection; containers use the internal hostname `elasticsearch`.
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=wiki_pages
INDEXER_REQUEST_TIMEOUT=15s
INDEXER_BATCH_SIZE=500
